automation/logic-apps/P5-dl-expand-remediate/playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "P5 - DL-Expand-Remediate",
    "description": "When a malicious message lands on a distribution list, recursively expand the DL membership (via Microsoft Graph's transitive-members endpoint, no Function App required) and call Defender XDR Take Action per resolved member. Conservative defaults: only fires for explicit DL entities on the incident; soft-delete; warns if expanded membership exceeds 500. Documented in 09-kql-detection-library.md Q8 and 10-logic-apps-playbook-library.md P5.",
    "prerequisites": "Sentinel workspace; Defender XDR Take Action API for the Logic App MI; Microsoft Graph Group.Read.All application permission on the MI; the DL must be synced to Microsoft Entra (cloud-managed). Pure on-prem DLs need a separate EXO PowerShell path - not implemented here.",
    "lastUpdate": "2026-05-20",
    "entities": ["MailMessage", "MailCluster"],
    "tags": ["TRAP-MDO-Migration", "Phase-3", "P5", "DL", "Graph"]
  },
  "parameters": {
    "PlaybookName":           { "type": "string", "defaultValue": "trap-mdo-P5-dl-expand-remediate" },
    "SentinelConnectionName": { "type": "string", "defaultValue": "azuresentinel" },
    "WorkspaceResourceId":    { "type": "string" },
    "MaxMembers":             { "type": "int", "defaultValue": 500, "metadata": { "description": "Safety cap - if a DL has more members than this, the playbook bails and posts a warning instead of remediating." } },
    "Location":               { "type": "string", "defaultValue": "[resourceGroup().location]" }
  },
  "variables": {
    "sentinelConnId": "[resourceId('Microsoft.Web/connections', parameters('SentinelConnectionName'))]",
    "sentinelApi":    "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('Location'), '/managedApis/azuresentinel')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('Location')]",
      "identity": { "type": "SystemAssigned" },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections":        { "type": "Object", "defaultValue": {} },
            "WorkspaceResourceId": { "type": "String", "defaultValue": "[parameters('WorkspaceResourceId')]" },
            "MaxMembers":          { "type": "Int", "defaultValue": "[parameters('MaxMembers')]" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident_trigger": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                "body": { "callback_url": "@listCallbackUrl()" },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_DL_recipients_from_query": {
              "type": "ApiConnection",
              "runAfter": {},
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                "method": "post",
                "path": "/Queries",
                "body": {
                  "workspaceResourceId": "@parameters('WorkspaceResourceId')",
                  "query": "let recipients = parse_json('@{string(triggerBody()?['object']?['properties']?['relatedEntities'])}')\n    | mv-expand entity = recipients\n    | where tostring(entity.kind) =~ 'mailmessage'\n    | extend recipient = tolower(tostring(entity.properties.recipient))\n    | distinct recipient;\nlet dls = IdentityInfo\n    | summarize arg_max(TimeGenerated, *) by AccountUPN\n    | where AccountUPN in (recipients)\n    | where Type == 'Group' or AccountType == 'Group'\n    | project AccountUPN, GroupId = AccountObjectId;\ndls",
                  "timespan": "P7D"
                }
              }
            },
            "Any_DLs_present": {
              "type": "If",
              "runAfter": { "Get_DL_recipients_from_query": [ "Succeeded" ] },
              "expression": { "and": [ { "greater": [ "@length(body('Get_DL_recipients_from_query')?['tables']?[0]?['rows'])", 0 ] } ] },
              "actions": {
                "For_each_DL": {
                  "type": "Foreach",
                  "foreach": "@body('Get_DL_recipients_from_query')?['tables']?[0]?['rows']",
                  "actions": {
                    "Graph_transitive_members": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://graph.microsoft.com/v1.0/groups/@{items('For_each_DL')[1]}/transitiveMembers?$select=id,userPrincipalName,mail&$count=true&$top=999",
                        "headers": { "ConsistencyLevel": "eventual" },
                        "authentication": { "type": "ManagedServiceIdentity", "audience": "https://graph.microsoft.com" }
                      }
                    },
                    "Bail_if_oversized": {
                      "type": "If",
                      "runAfter": { "Graph_transitive_members": [ "Succeeded" ] },
                      "expression": { "and": [ { "greater": [ "@coalesce(body('Graph_transitive_members')?['@odata.count'], 0)", "@parameters('MaxMembers')" ] } ] },
                      "actions": {
                        "Comment_oversized": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                            "method": "post",
                            "path": "/Incidents/Comment",
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "P5 skipped DL @{items('For_each_DL')[0]}: @{coalesce(body('Graph_transitive_members')?['@odata.count'], 0)} members exceeds MaxMembers=@{parameters('MaxMembers')}. Review and either raise the cap or remediate manually."
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Run_per_recipient_query": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                              "method": "post",
                              "path": "/Queries",
                              "body": {
                                "workspaceResourceId": "@parameters('WorkspaceResourceId')",
                                "query": "let members = pack_array(@{join(select(coalesce(body('Graph_transitive_members')?['value'], json('[]')), concat('\"', toLower(coalesce(item()?['mail'], item()?['userPrincipalName'])), '\"')), ',')});\nEmailEvents\n| where TimeGenerated > ago(7d)\n| where tolower(RecipientEmailAddress) in (members)\n| where SenderFromAddress =~ '@{first(body('Get_DL_recipients_from_query')?['tables']?[0]?['rows'])[0]}' or NetworkMessageId in ('@{join(select(triggerBody()?['object']?['properties']?['relatedEntities'], coalesce(item()?['properties']?['networkMessageId'], '')), '\\',\\'')}')\n| project NetworkMessageId, RecipientEmailAddress",
                                "timespan": "P7D"
                              }
                            }
                          },
                          "For_each_resolved_message": {
                            "type": "Foreach",
                            "runAfter": { "Run_per_recipient_query": [ "Succeeded" ] },
                            "foreach": "@body('Run_per_recipient_query')?['tables']?[0]?['rows']",
                            "actions": {
                              "Call_TakeAction_per_member": {
                                "type": "Http",
                                "inputs": {
                                  "method": "POST",
                                  "uri": "https://api.security.microsoft.com/api/messages/takeAction",
                                  "headers": { "Content-Type": "application/json" },
                                  "authentication": { "type": "ManagedServiceIdentity", "audience": "https://api.security.microsoft.com" },
                                  "body": {
                                    "NetworkMessageIds": [ "@items('For_each_resolved_message')[0]" ],
                                    "ActionType": "SoftDelete",
                                    "Justification": "P5 DL-expand remediation for DL @{items('For_each_DL')[0]}"
                                  }
                                },
                                "runtimeConfiguration": { "concurrency": { "repetitions": 5 } }
                              }
                            }
                          },
                          "Comment_expanded": {
                            "type": "ApiConnection",
                            "runAfter": { "For_each_resolved_message": [ "Succeeded" ] },
                            "inputs": {
                              "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                              "method": "post",
                              "path": "/Incidents/Comment",
                              "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "P5 DL @{items('For_each_DL')[0]} expanded: @{coalesce(body('Graph_transitive_members')?['@odata.count'], 0)} members; @{length(body('Run_per_recipient_query')?['tables']?[0]?['rows'])} message copies remediated."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Comment_no_DL": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                      "method": "post",
                      "path": "/Incidents/Comment",
                      "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "P5 fired but no DL recipients identified on incident. No action."
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": { "connectionId": "[variables('sentinelConnId')]", "connectionName": "[parameters('SentinelConnectionName')]", "id": "[variables('sentinelApi')]" }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "playbookName": { "type": "string", "value": "[parameters('PlaybookName')]" },
    "managedIdentityPrincipalId": { "type": "string", "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2019-05-01', 'Full').identity.principalId]" }
  }
}
